.toggle-button {
    svg {
        width: 2.9rem;
        height: 2.9rem;
        margin-top: 3.5rem;
        path {
            fill: var(--text-color);
        }
    }

    @media (max-width: 450px) {
        svg {
            margin-bottom: 2px;
        }
    }

    @media (min-width: 450px) and (max-width: 768px) {
        svg {
            margin-top: 10.4rem;
        }
    }
}
