@font-face {
    font-family: 'SF-Pro';
    src: url('../../fonts/SF-Pro-Display-Regular.woff2') format('woff2'),
         url('../../fonts/SF-Pro-Display-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'SF-Pro';
    src: url('../../fonts/SF-Pro-Display-Medium.woff2') format('woff2'),
         url('../../fonts/SF-Pro-Display-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'SF-Pro';
    src: url('../../fonts/SF-Pro-Display-Semibold.woff2') format('woff2'),
         url('../../fonts/SF-Pro-Display-Semibold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'SF-Pro';
    src: url('../../fonts/SF-Pro-Display-Bold.woff2') format('woff2'),
         url('../../fonts/SF-Pro-Display-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: block;
}